{% extends 'main.html' %}
{% block todo %}
<h3>Create a Task:</h3>
<div class='form'>
    <form method='POST' action=''>
        {{ form.hidden_tag() }}
        {{ form.name.label }}
        {{ form.name }}
        {% if form.name.errors %}
        <div class='error'>
            {% for error in form.name.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <br>
        {{ form.description.label }}
        {{ form.description }}
        {% if form.description.errors %}
        <div class='error'>
            {% for error in form.description.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <br>
        {{ form.submit }}
    </form>
</div>
{% endblock todo %}